@model LiteCommerce.DomainModels.Category
@{ 
    Layout = null;
}
<div class="box box-primary">
    <div class="box-body">
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        <div class="container-fluid">
            <form id="formSaveInput" onsubmit="return (saveCategory());">
                @Html.HiddenFor(m => m.CategoryID)
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tên loại hàng hóa:</label>
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @autofocus = "autofocus" })
                            <span style="color:red;" id="errorCategoryName"></span>
                            <br>
                            <label>Thuộc loại hàng hóa:</label>
                            @Html.DropDownListFor(m => m.ParentCategoryId, SelectListHelper.ParentCategoties(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label>Mô tả thông tin loại hàng hóa:</label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "5" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Lưu dữ liệu
                        </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="javascript:;" onclick="getCategories(1)" class="btn btn-warning">
                            <i class="fa fa-window-close"></i> Bỏ qua
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>