@model LiteCommerce.DomainModels.Supplier
@{
    Layout = null;
}
<div class="box box-primary">
    <div class="box-body">
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        <form id="formSaveInput" onsubmit="return (saveSuppliers());">
            @Html.HiddenFor(m => m.SupplierID)
            @*<input type="hidden" name="SupplierID" value="@Model.SupplierID"/>*@
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control", @autofocus = "autofocus" })
                <span id="errorSupplierName" style="color:red;"></span>
            </div>
            <div class="form-group">
                <label>Tên giao dịch:</label>
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                <span id="ContactName" style="color:red;"></span>
            </div>
            <div class="form-group">
                <label>Địa chỉ liên hệ:</label>
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Quốc gia:</label>
                        @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Thành phố:</label>
                        @Html.DropDownListFor(m => m.City, SelectListHelper.Cities(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mã bưu chính:</label>
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Điện thoại:</label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <a href="javascript:;" onclick="getSuppliers()" class="btn btn-warning">
                        <i class="fa fa-window-close"></i> Bỏ qua
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>